In [1]:
import sqlite3

In [10]:
requete = """
SELECT CO.id, C.Nom, C.Prenom, C.Email, P.Nom, P.Prix, CP.Quantite
FROM Commande CO
INNER JOIN Client C on C.id = CO.client_id
INNER JOIN CommandeProduit CP on CP.commande_id = CO.id
INNER JOIN Produit P on P.id = CP.Produit_id
"""

In [11]:
with sqlite3.connect("clients.sqlite") as connection:
    cursor = connection.cursor()
    cursor.execute(requete)
    results = cursor.fetchall()

In [14]:
for row in results:
    print(row)

(1, 'DUPONT', 'Martin', 'martin.dupont@email.com', 'Ordinateur portable', 1000, 2)
(2, 'DURAND', 'Sophie', 'sophie.durand@email.com', 'Ordinateur fixe', 759.99, 1)
(3, 'DUPONT', 'Martin', 'martin.dupont@email.com', 'Vidéo-projecteur', 849.29, 10)
(4, 'THOMAS', 'Louis', 'louis.thomas@email.com', 'Ordinateur fixe', 759.99, 3)

In [19]:
total_commandes = 0
for row in results:
    print(f"Commande {row[0]}, montant total = {row[5] * row[6]:.2f} €")
    total_commandes += row[5] * row[6]
print()
print(f"Soit un montant total de {total_commandes:.2f} €")

Commande 1, montant total = 2000.00 €
Commande 2, montant total = 759.99 €
Commande 3, montant total = 8492.90 €
Commande 4, montant total = 2279.97 €

Soit un montant total de 13532.86 €