In [9]:
import sqlite3

In [10]:
requete = """
SELECT CO.id, C.Nom, C.Prenom, C.Email, P.Nom, P.Prix, CP.Quantite
FROM Commande CO
INNER JOIN Client C on C.id = CO.client_id
INNER JOIN CommandeProduit CP on CP.commande_id = CO.id
INNER JOIN Produit P on P.id = CP.Produit_id
"""

In [11]:
with sqlite3.connect("clientCommandes.db") as connection:
    cursor = connection.cursor()
    cursor.execute(requete)
    results = cursor.fetchall()

In [13]:
print(results)

[(1, 'DUPONT', 'Martin', 'martin.dupont@email.com', 'Ordinateur portable', 1000.0, 1), (1, 'DUPONT', 'Martin', 'martin.dupont@email.com', 'Ordinateur fixe', 759.99, 2), (2, 'DUPONT', 'Martin', 'martin.dupont@email.com', 'Vidéo projecteur', 525.75, 4), (3, 'DURAND', 'Sophie', 'sophie.durand@email.com', 'Ordinateur fixe', 759.99, 5), (4, 'THOMAS', 'Louis', 'louis.thomas@email.com', 'Vidéo projecteur', 525.75, 1), (4, 'THOMAS', 'Louis', 'louis.thomas@email.com', 'Ordinateur fixe', 759.99, 1)]

In [12]:
for row in results:
    print(row)

(1, 'DUPONT', 'Martin', 'martin.dupont@email.com', 'Ordinateur portable', 1000.0, 1)
(1, 'DUPONT', 'Martin', 'martin.dupont@email.com', 'Ordinateur fixe', 759.99, 2)
(2, 'DUPONT', 'Martin', 'martin.dupont@email.com', 'Vidéo projecteur', 525.75, 4)
(3, 'DURAND', 'Sophie', 'sophie.durand@email.com', 'Ordinateur fixe', 759.99, 5)
(4, 'THOMAS', 'Louis', 'louis.thomas@email.com', 'Vidéo projecteur', 525.75, 1)
(4, 'THOMAS', 'Louis', 'louis.thomas@email.com', 'Ordinateur fixe', 759.99, 1)

In [14]:
total_commandes = 0
for row in results:
    print(f"Commande {row[0]}, montant total = {row[5] * row[6]:.2f} €")
    total_commandes += row[5] * row[6]
print()
print(f"Soit un montant total de {total_commandes:.2f} €")

Commande 1, montant total = 1000.00 €
Commande 1, montant total = 1519.98 €
Commande 2, montant total = 2103.00 €
Commande 3, montant total = 3799.95 €
Commande 4, montant total = 525.75 €
Commande 4, montant total = 759.99 €

Soit un montant total de 9708.67 €